@use '../base/variables' as v;
@use '../base/mixins' as m;

.main{
 

    .card{
       
        text-align: center;
        text-transform: uppercase;
    

        &-body{ 

        }

        &-text{
            height: 40px;
            padding: 10px;
            font-size: 20px;
        }

        &-title{
            height: 55px;
      
        }
        
    }


}