@use '../base/variables' as v;
@use '../base/mixins' as m;

.header__barraSuperior__banner {

    
    &__logo{


        @include m.tablet{
            transform: rotate(-10deg);
    
        }

    }

    
}